
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklaması</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>

    <tr>
        <td></td>

    </tr>
</table>